<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.nav > li > a').click(function () {
                $('ul.nav > li').removeClass('active');
                $(this).parent().addClass('active');
            });
        });
    </script>
</head>

<body>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="/hello"><span class="glyphicon glyphicon-user"></span> Hello</a>
            </li>
            <li>
                <a href="/test"><span class="glyphicon glyphicon-info-sign"></span> Test</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku
                    Dev Center</a>
            </li>
        </ul>
    </div>
</nav>
<div th:replace="${template}"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>