@font-face {
    font-family: Quicksand;
    src: url("https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2");
}

body {
    font-family: Quicksand, 'sans-serif';
}

h1 {
    font-size: 250%;
    text-align: center;
    display: inline;
}

#helloprof {
    font-size: 350%;
    font-weight: bolder;
    color: green;
}

.form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
}

.openingtext {
    text-align: center;
    margin-top: 7%;
}

.credentials {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

#username, #password {
    font-size: 120%;
    width: 100%;
    padding: 1.5%;
}

.h4 {
    font-size: 180%;
}

#submit {
    width: 14%;
    margin-top: 1%;
    margin-left: 43%;
    margin-right: 43%;
    font-size: 150%;
    padding-top: .5%;
    padding-bottom: .5%;
    cursor: pointer;
    border: solid green;
    color: green;
    background-color: white;
}

#remember-me {
    font-size: 120%;
    text-align: center;
    width: 10%;
    height: auto;
    margin-top: 1%;
    margin-left: 44.2%;
    margin-right: 56.8%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: green;
    color: white;
}

.alert {
    font-size: 120%;
    text-align: center;
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

:required {
    font-family: Quicksand, 'sans-serif';
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}