@font-face {
    font-family: Quicksand;
    src: url("https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2");
}

/* Main body*/
body {
    font-family: Quicksand, sans-serif;
}

/* Remove bullets */
ul {
    list-style-type: none;
}

/* Whole calendar */
.calendar {
    width: 80%;
    margin: auto;
}

/* Week calendar table */
#week-cal-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 5%;
}

/* Week header */
#week-cal-header {
    padding: 3% 5% 2% 5%;
    background: darkgrey;
    text-align: center;
}

#week-cal-header ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#week-cal-header .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
#week-cal-header .next {
    float: right;
    padding-top: 10px;
}

.course {
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-radius: 0;
    display: inline;
    width: 60%;
}

.course:active, .course:focus, .course:active:focus {
    outline: none;
}

.instructor {
    border-bottom-color: white;
    border-top-color: white;
    border-radius: 0;
    display: inline;
    width: 40%;
}

.instructor:active, .instructor:focus, .instructor:active:focus {
    outline: none;
}

th, td {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td {
    padding: 10px 10px;
}

th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

td:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.page-header {
    margin: 7% 3% 2% 3%;
}

/* Nav bar props */
.btn-lg {
    background: white;
    color: dodgerblue;
    margin: .8% 3% 0 2%;
}

.btn-lg:hover {
    color: #1e70ff;
}

.logout {
    margin-top: .8%;
    margin-left: 60%;
    display: inline-block;
}

.h4 {
    padding-left: 55px;
    font-size: 3.5rem;
}

.showID {
    float: right;
    color: green;
    margin: 10px 10px 0;
    padding: 5px;
    overflow: auto;
}

/* Noticonfirm and Notipending hover */
.noticonfirm:hover .notibtn, .notipending:hover .notibtn {
    display: inline-block;
    overflow: auto;
}

.noticonfirm:hover span, .notipending:hover span {
    display: inline-block;
}

.noticonfirm:hover hr, .notipending:hover hr {
    display: block;
}

.noticonfirm:hover .notimsg, .notipending:hover .notimsg {
    display: block;
}

/* Successful booking */
.noticonfirm {
    width: 90%;
    height: 63px;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #26e073;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: center;
}

.noticonfirm:hover {
    background: #26e073;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

/* Pending */
.notipending {
    width: 90%;
    height: 63px;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #4286f4;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: center;
}

.notipending:hover {
    background: #4286f4;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

/* Cancelled */
.noticancel {
    width: 90%;
    height: 63px;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #ed3b3b;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: center;
}

.noticancel:hover {
    background: #ed3b3b;
    color: white;
    height: 100%;
    font-size: 1.3em;
    text-align: center;
}

.noticancel:hover .notibtnbook {
    display: inline-block;
    overflow: auto;
}

.noticancel:hover span {
    display: inline-block;
}

.noticancel:hover hr {
    display: block;
}

.noticancel:hover .notimsg {
    display: block;
}

/* General notification */
hr {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 20px 1em 0;
    padding: 0;
}

.notistatus {
    display: none;
    float: left;
}

.notitext {
    padding-top: 15px;
    font-size: 1.2em;
}

.notibtn {
    display: none;
    float: right;
    overflow: auto;
    margin: 0 1.5% 0;
}

.notibtnbook {
    display: none;
    float: right;
    overflow: auto;
    padding: auto;
    margin: 0 1.5% 0;
}

.notimsg {
    display: none;
    margin-left: 100px;
    margin-right: 100px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
