@font-face {
    font-family: Quicksand;
    src: url("https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2");
}

body {
    font-family: Quicksand, sans-serif;
}

/* remove bullets */
ul {
    list-style-type: none;
}

/* Week header */
.week {
    padding: 20px 50px 65px 25px;
    width: 80%;
    background: darkgrey;
    margin: auto;
    height: 10px;
    text-align: center;
}

.week ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.week .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.week .next {
    float: right;
    padding-top: 10px;
}

/*table header and data elements */
.scheduler {
    margin-bottom: 100px;

}

th, td {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td {
    padding: 10px 10px;
}

th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

td:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.page-header {
    margin: 100px 20px 10px 20px;
}

.h4 {
    padding-left: 55px;
    font-size: 3.5rem;
}

.logout {
    margin-left: 800px;
    margin-top: 20px;

}

.showID {
    float: right;
    color: green;
    margin-left: 0px;
    overflow: auto;

}
