@font-face {
    font-family: Quicksand;
    src: url("https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2");
}

/* Main body*/
body {
    font-family: Quicksand, sans-serif;
}

/* Remove bullets */
ul {
    list-style-type: none;
}

/* The whole week calendar */
.week-cal {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}

/* Week header */
#week-cal-header {
    padding: 20px 50px 65px 25px;
    background: darkgrey;
    margin-bottom: -13px;
    height: 10px;
    text-align: center;
}

#week-cal-header ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#week-cal-header .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
#week-cal-header .next {
    float: right;
    padding-top: 10px;
}

/* Table header and data elements */
.scheduler {
    margin-bottom: 100px;

}

th, td {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td {
    padding: 10px 10px;
}

th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

td:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.page-header {
    margin: 7% 3% 2% 3%;
}

#calendar {
    margin-bottom: 2%;
}

/* Nav bar props */
.btn-lg {
    margin: 5% 3% 0 2%;
    background: white;
    color: dodgerblue;
}

.btn-lg:hover {
    color: #1e70ff;
}

.course {
    margin-left: 10%;
    display: inline;
    width: 50%;

}

.instructor {
    display: inline;
    width: 30%;
    margin-left: -4px;
}

.logout {
    margin-left: 60%;
    display: inline-block;
}

.h4 {
    padding-left: 55px;
    font-size: 3.5rem;
}

.btn {
    margin-top: 12.5px;
}

.showID {
    float: right;
    color: green;
    margin: 10px 10px 0;
    padding: 5px;
    overflow: auto;
}

/* Noticonfirm and Notipending hover */
.noticonfirm:hover .notibtn, .notipending:hover .notibtn {
    display: inline-block;
    overflow: auto;
}

.noticonfirm:hover span, .notipending:hover span {
    display: inline-block;
}

.noticonfirm:hover hr, .notipending:hover hr {
    display: block;
}

.noticonfirm:hover .notimsg, .notipending:hover .notimsg {
    display: block;
}

/* Successful appointment */
.noticonfirm {
    width: 90%;
    height: 63px;
    margin: 10px 50px;
    background-color: white;
    border: 2px solid #26e073;
    padding-left: 20px;
    padding-right: 6px;
    padding-bottom: 4px;
    text-align: center;
}

.noticonfirm:hover {
    background: #26e073;
    color: white;
    font-size: 1.3em;
    height: 100%;
}

/* Pending */
.notipending {
    width: 90%;
    height: 63px;
    margin: 10px 50px;
    background-color: white;
    border: 2px solid #4286f4;
    padding-left: 20px;
    padding-right: 6px;
    padding-bottom: 4px;
    text-align: center;
}

.notipending:hover {
    background: #4286f4;
    color: white;
    font-size: 1.3em;
    height: 100%;
}

/* Cancel */
.noticancel {
    width: 90%;
    height: 63px;
    margin: 10px 50px;
    background-color: white;
    border: 2px solid #ed3b3b;
    padding-left: 20px;
    padding-right: 6px;
    padding-bottom: 4px;
    text-align: center;
}

.noticancel:hover {
    background: #ed3b3b;
    color: white;
    height: 100%;
    font-size: 1.3em;
}

.noticancel:hover .notibtnbook {
    display: inline-block;
    overflow: auto;
}

.noticancel:hover span {
    display: inline-block;
}

.noticancel:hover hr {
    display: block;
}

.noticancel:hover .notimsg {
    display: block;
}

/* General notification */
hr {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 20px 1em 0;
    padding: 0;
}

.notistatus {
    display: none;
    float: left;
}

.notitext {
    align-self: left;
    padding-top: 15px;
    font-size: 1.2em;
    vertical-align: middle;
}

.notibtn {
    display: none;
    float: right;
    overflow: auto;
    margin: -2px 20px 0;
}

.notibtnbook {
    display: none;
    float: right;
    overflow: auto;
    padding: auto;
    margin: -2px 20px 0;
}

.notimsg {
    display: none;
    margin-left: 100px;
    margin-right: 100px;
}
