@font-face {
    font-family: Quicksand;
    src: url("https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2");
}

/* Main body*/
html, body {
    font-family: Quicksand, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.modal {
    text-align: center;
    font-size: 22px;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* Remove bullets */
ul {
    list-style-type: none;
}

/* Nav bar props */
.navbar {
    width: 100%;
    height: 9%;
    padding: 5px;
}

.navbar-btn {
    font-size: 22px;
}

.btn-lg {
    background: white;
    color: dodgerblue;
    margin: 15px auto 0 30px;
}

.btn-lg:hover {
    color: #1e70ff;
}

.btn-lg:focus {
    color: dodgerblue;
}

.logout {
    margin: 20px auto 0 auto;
    display: inline-block;
    font-size: 18px;
    float: right;
    overflow: hidden;
}

.h4 {
    padding-left: 55px;
    font-size: 3.5rem;
}

/* Whole calendar */
.calendar {
    width: 80%;
    height: 60%;
    margin: auto;
    font-size: 18px;
}

/* Week header */
#week-cal-header {
    width: 100%;
    height: 28%;
    padding: 3% 5% 2% 5%;
    background: darkgrey;
    text-align: center;
}

#week-cal-header ul li {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#week-cal-header .prev {
    left: 18%;
    font-size: 40px;
    position: absolute;
    color: white;
}

/* Next button */
#week-cal-header .next {
    right: 18%;
    font-size: 40px;
    position: absolute;
    color: white;
}


#week-cal-header .prev:hover, #week-cal-header .next:hover {
    margin-left: -10px;
    margin-top: -10px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#week-cal-header .prev:active, #week-cal-header .next:active {
    margin-left: -5px;
    margin-top: -5px;
    font-size: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Buttons for course and prof */
#week-cal-buttons {
    width: 100%;
    height: 8%;
}

.dropdown {
    width: 100%;
    height: 100%;
}

.dropdown-toggle {
    width: 100%;
    height: 100%;
}

/* General dropdown */
.dropdown-menu {
    width: 75%;
}

.dropdown-menu li {
    padding: 5px 25px;
    width: 100%;
}

.dropdown-menu li:hover {
    cursor: pointer;
    background: #efefef;
}

.choice-text {
    margin-right: 10px;
    font-size: 20px;
}

/* Course dropdown select */
#course-dropdown {
    width: 60%;
    float: left;
}

#course-dropdown-menu li {
    font-size: 18px;
}

.course {
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-radius: 0;
    display: inline;
    width: 100%;
}

.course:active, .course:focus, .course:active:focus {
    outline: none;
}

/* prof dropdown select */
#prof-dropdown {
    width: 40%;
    height: 100%;
    float: right;
}

#prof-dropdown-menu li {
    font-size: 18px;
}

.prof {
    border-bottom-color: white;
    border-top-color: white;
    border-radius: 0;
    display: inline;
    width: 100%;
}

.prof:active, .prof:focus, .prof:active:focus {
    outline: none;
}

/* Week calendar table */
#week-cal-table {
    width: 100%;
    height: 60%;
    table-layout: fixed;
    margin-bottom: 5%;
}

th, td {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
    height: 55px;
}

td {
    padding: 10px;
}

th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

.page-header {
    margin: 7% 3% 2% 3%;
}

.page-header h1 {
    font-size: 40px;
}

/* Noticonfirm and Notipending hover */
.noticonfirm:hover .notibtn, .notipending:hover .notibtn {
    display: inline-block;
    overflow: auto;
}

.noticonfirm:hover span, .notipending:hover span {
    display: inline-block;
}

.noticonfirm:hover hr, .notipending:hover hr {
    display: block;
}

.noticonfirm:hover .notimsg, .notipending:hover .notimsg {
    display: block;
}

/* Successful booking */
.noticonfirm {
    width: 90%;
    height: 8%;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #26d055;
    padding: .5% 1.5%;
    text-align: center;
}

.noticonfirm:hover {
    background: #26d055;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

/* Pending */
.notipending {
    width: 90%;
    height: 8%;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #4286f4;
    padding: .5% 1.5%;
    text-align: center;
}

.notipending:hover {
    background: #4286f4;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

/* Cancelled */
.noticancel {
    width: 90%;
    height: 8%;
    margin: 10px 6% 10px 4%;
    background-color: white;
    border: 2px solid #ed3b3b;
    padding: .5% 1.5%;
    text-align: center;
}

.noticancel:hover {
    background: #ed3b3b;
    color: white;
    height: 16%;
    font-size: 1.3em;
    text-align: center;
}

.noticancel:hover .notibtnbook {
    display: inline-block;
    overflow: auto;
}

.noticancel:hover span {
    display: inline-block;
}

.noticancel:hover hr {
    display: block;
}

.noticancel:hover .notimsg {
    display: block;
}

/* General notification */
hr {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 20px 1em 0;
    padding: 0;
}

.notistatus {
    display: none;
    float: left;
}

.notitext-container {
    padding-top: 15px;
    font-size: 1.2em;
}

.notibtn {
    display: none;
    float: right;
    overflow: auto;
    padding: auto;
    margin: -7px 1.5% 0;
    font-size: 18px;
}

.notibtnbook {
    display: none;
    float: right;
    overflow: auto;
    padding: auto;
    margin: -7px 1.5% 0;
    font-size: 18px;
}

.notimsg {
    display: none;
    margin-left: 100px;
    margin-right: 100px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
