<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>


<div class="container">
    <!--/*@thymesVar id="courseBookings" type="java.util.ArrayList"*/-->
    <div th:if="not ${courseBookings.isEmpty()}">
        <h1>Bookings By Course</h1>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Professor</th>
                <th>Booked</th>
                <th>Student ID</th>
            </tr>

            <tr th:each="booking : ${courseBookings}">
                <td th:text="${booking[0]}"></td>
                <td th:text="${booking[1]}"></td>
                <td th:text="${booking[2]}"></td>
                <td th:text="${booking[3]}"></td>
                <td th:text="${booking[4]}"></td>
            </tr>
        </table>
    </div>

    <!--/*@thymesVar id="profBookings" type="java.util.ArrayList"*/-->
    <div th:if="not ${profBookings.isEmpty()}">
        <h1>Bookings By Professor</h1>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Professor</th>
                <th>Booked</th>
                <th>Student ID</th>
            </tr>

            <tr th:each="booking : ${profBookings}">
                <td th:text="${booking[0]}"></td>
                <td th:text="${booking[1]}"></td>
                <td th:text="${booking[2]}"></td>
                <td th:text="${booking[3]}"></td>
                <td th:text="${booking[4]}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
