<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>


<div class="container">
    <h1>Students</h1>
    <!--/*@thymesVar id="students" type="java.util.Map"*/-->
    <ul th:each="entry : ${students}">
        <li th:text="${entry.key}">
            <ul>
                <li th:text="${entry.value[0]}"></li>
                <li th:text="${entry.value[1]}"></li>
                <li th:text="${entry.value[2]}"></li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>
