<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SUTD ProfChoper</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/student.css"
          th:href="@{/css/student.css}"/>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/student.js" th:src="@{/js/student.js}"></script>

</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top noselect">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand h4">ProfChoper</p>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <a class="btn navbar-btn btn-lg" href="#calendar"><strong>Chope a slot</strong></a>

            <a class="btn btn-danger logout" th:href="@{/logout}">Logout</a>
            <p class="showID" th:text="${student.getId()}">100XXXX</p>
        </div>


    </div>
</nav>

<div class="modal fad noselect" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p id="text">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="page-header noti noselect">
    <h1>Your schedules</h1>
</div>

<!--NOTIFICATIONS-->

<!--if got notification-->
<div class="noticonfirm noselect">
    <!--get slot info-->
    <p class="notitext">
        <span class="notistatus">Confirmed</span>
        4/12 prof oka from 3:30 - 4:00
        <a class="notibtn btn btn-danger" href="#calendar">Cancel Slot</a>
    </p>
</div>

<!--if got notification-->
<div class="notipending noselect">
    <!--get slot info-->
    <p class="notitext">
        <span class="notistatus">Pending</span>
        4/12 prof oka from 3:30 - 4:00 bla bla
        <a class="notibtn btn btn-danger" href="#calendar">Cancel Slot</a>
    </p>
</div>

<!--if got notification-->
<div class="noticancel noselect">
    <!--get slot info-->
    <p class="notitext">
        <span class="notistatus">Cancelled</span>
        4/12 prof oka from 3:30 - 4:00
        <a class="notibtnbook btn btn-success" href="#calendar">Book Another</a>
    </p>

    <!--if got msg-->
    <hr>
    <p id="notimsg" class="notimsg">Note: please bring along your stuff please bring along your stuffp</p>
</div>

<div class="page-header noselect" id="calendar">
    <h1>Your calendar</h1>
</div>

<div class="calendar noselect">
    <div class="week-cal" id="week-cal-header">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li class="week-cal-header-text">
                <span id="week-cal-header-date"
                      th:text="${calendar.getHeaderDate()}">Test Date - Date20XX</span><br>
                <span style="font-size:18px" id="week-cal-header-week"
                      th:text="${calendar.getHeaderWeek()}">Week Test</span>
            </li>
        </ul>
    </div>

    <div id="week-cal-buttons">
        <div class="dropdown" id="course-dropdown">
            <button class="btn course dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="choice-text" id="course-choice-text"
                      th:text="${student.getEnrolledCourses()[0].toString()}">Course 1</span>
                <span class="caret"></span></button>
            <ul id="course-dropdown-menu" class="dropdown-menu">
                <th:block th:each="course : ${student.getEnrolledCourses()}">
                    <li class="course-dropdown-menu-text"
                        th:text="${course.toString()}">Course Placeholder
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="dropdown" id="instructor-dropdown">
            <button class="btn instructor dropdown-toggle" type="button"
                    data-toggle="dropdown">
                <span class="choice-text" id="instructor-choice-text">Choose Instructor</span>
                <span class="caret"></span></button>
            <ul id="instructor-dropdown-menu" class="dropdown-menu">
                <th:block th:each="prof : ${professors}">
                    <li class="instructor-dropdown-menu-text"
                        th:text="${prof.getName()}">Instructor Placeholder
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

    <table class="week-cal" id="week-cal-table">
        <tr>
            <th>Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
        </tr>

        <tr id="week-cal-row" th:each="row : ${calendar.getMatrix()}">
            <th th:text="${row[0]}"></th>
            <!-- th:utext does not escape <br /> -->
            <!-- replace \n from backend to <br /> for html frontend -->
            <td th:utext="${#strings.replace(#strings.escapeXml(row[1]),'&#10;','&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(#strings.escapeXml(row[2]),'&#10;','&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(#strings.escapeXml(row[3]),'&#10;','&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(#strings.escapeXml(row[4]),'&#10;','&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(#strings.escapeXml(row[5]),'&#10;','&lt;br /&gt;')}"></td>
        </tr>
    </table>
</div>

</body>
</html>
