<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroku Spring Boot Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}"/>
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
    <h3> Users : </h3>
    <table>
        <tr>
            <td>Id</td>
            <td>First</td>
            <td>Last</td>
            <td>Email</td>
            <td>Company</td>
            <td>City</td>
        </tr>
        <tr th:each="contact : ${users}">
            <td></td>
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.first}"></td>
            <td th:text="${contact.last}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.company}"></td>
            <td th:text="${contact.city}"></td>
        </tr>
    </table>
</div>
</body>
</html>